@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*font-family : "Poppins", sans-serif;\
 font-family: "Playfair Display", serif;*/


 /* Navbar CSS */
 .navbar{
  font-family:"Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow : 0 8px 6px -6px gray;
  border-bottom: solid gray !important;
}

.nav-link{
  font-weight: 300 !important;
}
.nav-link.active{
  border-bottom: 2px solid blue;
}
.navbar-brand{
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}
/* ========================================= */

/*Footer*/
.footer{
  color: white;
  padding : 25px;
  background:black;
}
.footer a{
  text-decoration: none;
  color : white;
  padding: 10px;
}
.footer a:hover{
    color : goldenrod;
    border-bottom: 1px solid goldenrod;
}
/* ========================================= */

/*Page Not Found*/

.pnf{
  display: flex;
  min-height: 78.5vh;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  background: rgb(245, 86, 7);
  color: white;
}

.pnf-title{
  font-size: 100px;
  font-weight: 700;
}
.pnf-heading{
  font-weight: normal;
}
.pnf-btn{
  color: white;
  border : 1px solid white;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover{
  color: black;
  font-weight:400;
  background: white;
  border: 1px solid goldenrod;
}
/* ========================================= */

/*Conatct Us*/
.contactus{
  margin: 0;
  padding: 0;
  height: 76.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ========================================= */
